# Environment properties.
**/app.properties

# Eclipse IDE configuration files.
.settings
.classpath
.project

# Visual Studio Code configuration files.
.vscode

# Build application
target