# Environment properties.
**/app.properties

# Eclipse IDE configuration files.
.settings
.classpath
.project
.factorypath

# Visual Studio Code configuration files.
.vscode

# Intellij Idea IDE configuration files.
.idea

# Build application files
target
bin
build